server:
  port: 7777

logging:
  level: DEBUG

spring:
  datasource:
    initialize: false
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/develope-signin?useUnicode=yes&characterEncoding=UTF-8
    username: mysqltest
    password: mysqltest
  hikari-datasource:
    cachePrepStmts: true
    prepStmtCacheSize: 250
    prepStmtCacheSqlLimit: 2048
    useServerPrepStmts: true
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: false
    hibernate:
      ddl-auto: none

liquibase:
  enabled: true
  check-change-log-location: true

ncu:
  oauth:
    api-token: your-api-token
    server-path: https://localhost/oauth

log-api:
    uri: https://log.apitest.cc.ncu.edu.tw/log/api
